<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbPhZ7T2_rm1zwL2f1_6tNQHju2oaUr_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>717242679488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.balintkiraly.AssignmentTracker</string>
	<key>PROJECT_ID</key>
	<string>assignmenttracker-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmenttracker-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717242679488:ios:0181b12bef98e7a1beed25</string>
</dict>
</plist>